// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-body);
  border-bottom: 1px solid var(--border-primary);
  padding: 30px 0;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1300px) {
      max-width: $container-large;
    }
  }
}

// Header Logo
.header-logo {
  a {
    display: block;
  }

  img {
    width: 200px;
  }
}

// Header Nav
.header-nav {
  @media (max-width: 991.98px) {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: var(--background-body);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 10%);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .container {
    @media (min-width: 992px) {
      padding: 0;
    }
  }

  .container > .collapse,
  .container > .collapsing {
    @media (min-width: 992px) {
      display: flex !important;
      align-items: center;
      justify-content: center;
      opacity: 1 !important;
    }

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }
}

// Header Dropdown
.header-dropdown {
  margin-right: 40px;

  @media (max-width: 1199.98px) {
    margin-right: 30px;
  }

  @media (max-width: 991.98px) {
    margin-right: 0;
  }

  .header-dropdown-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    background-color: var(--background-body);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 10%);
    z-index: 100;
    border-top: 1px solid var(--border-primary);
    margin: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 0.4s ease, visibility 0.4s ease;

    &.show {
      opacity: 1;
      visibility: visible;

      @media (max-width: 991.98px) {
        height: 100% !important;
        overflow: visible;
      }
    }

    @media (max-width: 991.98px) {
      position: static;
      transform: none;
      box-shadow: none;
      border: none;
      height: 0;
      display: block;
      overflow: hidden;
    }
  }

  .container {
    align-items: flex-start;
  }

  &-link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 10px;
      margin-right: 10px;
    }
  }

  &-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03rem;
    position: relative;

    img {
      transition: all 0.3s ease;
    }

    &[aria-expanded="true"] {
      font-weight: 700;
      letter-spacing: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 300%;
      height: 1px;
      background-color: var(--background-primary);
      transform: translateX(-50%);
      display: none;

      @media (max-width: 991.98px) {
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 300%;
      height: 1px;
      background-color: var(--background-primary);
      transform: translateX(-50%);
      display: none;

      @media (max-width: 991.98px) {
        display: block;
      }
    }

    @media (max-width: 991.98px) {
      justify-content: space-between;
      padding: 12px 0;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;

      img {
        transform: rotate(-90deg);
      }

      .angle-icon {
        margin-right: 8px;
      }
    }
  }

  .header-links {
    display: flex;
    line-height: 2;
    flex-wrap: wrap;

    &-group {
      margin-bottom: 10px;
    }
  }

  p.header-dropdown-link {
    margin-bottom: 5px;

    @media (max-width: 1199.98px) {
      margin-bottom: 0;
    }
  }
}

// Hamburger Icon
.header-hamburger {
  display: none;

  @media (max-width: 991.98px) {
    display: block;
  }

  img {
    width: 33px;
  }
}

.greyout {
  color: rgba(0, 0, 0, 50%);
}

.dark-mode-switch {
  position: absolute;
  right: 0;
  font-size: 24px;
  margin-right: 32px;

  @media (max-width: 1599.98px) {
    margin-right: 20px;
  }

  @media (max-width: 619.98px) {
    margin-right: 100px;
  }

  @media (max-width: 575.98px) {
    margin-right: 70px;
  }
}
