<template>
  <div :class="{ backdrop: appBackdrop }" @click="closeNavbar">
    <HeaderContainer />

    <!-- Ports -->
    <div class="ports">
      <div class="container">
        <slot />
      </div>
    </div>

    <g-image class="festivity-image d-print-none" src="~/assets/img/xmas.svg" />

    <FooterContainer />
  </div>
</template>

<script>
import HeaderContainer from "~/components/layout/HeaderContainer.vue";
import FooterContainer from "~/components/layout/FooterContainer.vue";

export default {
  metaInfo: {
    meta: [
      {
        name: "twitter:card",
        content: "summary_large_image"
      },
      {
        name: "twitter:creator",
        content: "@ubports"
      },
      {
        property: "og:type",
        content: "website"
      },
      {
        property: "og:image",
        content: "https://devices.ubuntu-touch.io/social-preview.jpg"
      }
    ]
  },
  components: {
    HeaderContainer,
    FooterContainer
  },
  data: function () {
    return {
      appBackdrop: false
    };
  },
  mounted() {
    this.$root.$on("bv::collapse::state", (collapseId, isShown) => {
      if (collapseId == "headerNav") this.appBackdrop = isShown;
    });
  },
  methods: {
    closeNavbar(e) {
      if (!e.target.closest(".header") && this.appBackdrop) {
        this.$root.$emit("bv::toggle::collapse", "headerNav");
      }
    }
  }
};
</script>
